h1 {
  text-align: center;
}

.form {
  text-align: center;
}

.formDiv {
  padding-bottom: 20px;
  background-color: wheat;
  margin-right: 20px;
}

#addButton {
  font-size: 25px;
}

td,
th {
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}

table {
    margin: 10px auto;
}
